<app-main-modal [titulo]="titulo">
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-lg-12">
                <label class="col-md-2 col-form-label">Nombre</label>
                <div class="col-11 form-group mt-2">
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre"
                       >
                    <span class="text-danger" *ngIf="submitted && formulario.controls.nombre.errors?.required">Este
                        campo es
                        requerido</span>
                </div>

                <label class="col-md-2 col-form-label">Descripción</label>
                <div class="col-11 form-group input-group mt-2">
                    <textarea type="text" class="form-control" placeholder="Descripción" maxlength="500"
                        formControlName="descripcion" rows="3"></textarea>
                </div>
                <span class="text-danger text-center p-3"
                    *ngIf="submitted && formulario.controls.descripcion.errors?.required">Este
                    campo es
                    requerido</span>
            </div>
        </div>
    </form>
</app-main-modal>